:host {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: max-content;
  min-height: 60px;
  background-color: lightgray;
}

.header {
  &--page-link {
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
}