TOP PAGE CONTENT

<div
  #block
  [ngClass]="sqaureClasses"
  [class.colored]="squareColored"
  (click)="toggleVibes(); toggleSquareBackgroundColor()"
>
  {{ data | json }}
</div>

<button mat-button>this is a mat-button directive</button>

<div class="product-list-container">
  <div
    *ngFor="
      let obj of data;
      let index = index;
      let first = first;
      let last = last;
      let count = count
    "
  >
    {{ obj | json }} {{ index }}

    <ng-container *ngIf="first"> index is zero! </ng-container>
    <!--
    <div *ngIf="obj.hello === 'world'" [style.color]="'blue'">
      I am the world
    </div> -->

    <div *ngIf="last">the total length of data is {{ count }}</div>
  </div>
</div>
